/* styling for admin dashboard project */

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');


* {
    margin: 0;
    padding: 0; 
}

body {
    font-family: Roboto, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

.container  {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr 4fr;

}

.sidebar {
    background-color: #047857;
    color: white;
    grid-column: 1;
    grid-row: 1 / 3;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 2fr 6fr;
}

.sidebar-icons {
    height: 20px;
    width: auto;
    fill: white;
}

.sidebar-dashboard-icon {
    height: 50px;
    width: auto;
    fill: white;    
}

.dashboard {
    display: flex;
    justify-content: start;
    align-content: start;
    gap: 10px;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
    margin-left: 15px;
    margin-top: 15px;
}

.dashboard-text {
    align-content: center;
}

.sidebar-list-top,
.sidebar-list-bottom {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-content: center;
    gap: 10px;
    flex-wrap: wrap;
    list-style-type: none;
    padding: 0;
    margin: 0;
    margin-left: 30px;
    height: 100%;

}

.sidebar-list-bottom {
    margin-top: 15px;
    align-content: start;
    height: 100%;
}

.sidebar-list-top li,
.sidebar-list-bottom li {
    display: flex; 
    align-items: center; 
    gap: 10px; 
    margin-right: 75px;
}

.header {
    background-color: white;
    /* border: 2px solid gray; */
    grid-column: 2 / 3;
    grid-row: 1;
    box-shadow: -1px 12px 9px -9px rgba(0,0,0,0.33);
    z-index: 10;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 10px;
    place-items: center;
    justify-content: space-evenly;
    padding-bottom: 15px;
}

.search-icon {
    height: 30px;
    width: auto;
    margin-left: 20px;
}

.notif-icon {
    height: 30px;
    width: auto;
}

.avatar {
    height: 30px;
    width: auto;
}

.avatar-left {
    height: 50px;
    width: auto;
}


.header-top-right {
    display: flex;
    gap: 50px;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.header-bottom-left {
    display: flex;
    gap: 10px;
    justify-content: flex-start;
    align-content: center;
    width: 100%;
    margin-left: 20px;
    flex-wrap: wrap;
}

.header-bottom-right {
    display: flex;
    gap: 10px;
    width: 100%;
    justify-content: center;
}

.search-bar {
    grid-column: 1;
    grid-row: 1;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border-radius: 5px;
    padding: 5px;
    width: 100%; 
    gap: 10px;
    
}

.search-input {
    border: none;
    padding: 10px;
    flex: 1;
    border-radius: 10px;
    font-size: 12px;
    background-color: lightgray;
    margin-right: 20px;
}

.notif, .profile-pic, .name {
    grid-column: 2;
    grid-row: 1;

}

.greeting-logo, .greeting-words {
    grid-column: 1;
    grid-row: 2;
    justify-self: start;
}

.command-buttons {
    grid-column: 2;
    grid-row: 2;
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 20px;
}

button {
    background-color: #047857;
    font-size: 14px;
    padding: 10px 24px;
    border-radius: 10px;
    border: none;
    color: white;
}


.main {
    background-color: #d1fae5;
    grid-column: 2;
    grid-row: 2;
    height: 100%;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 10fr;
    gap: 10px;
    column-gap: 20px;
    padding-left: 20px;
    padding-bottom: 50px;
}

.projects {
    grid-column: 1;
    grid-row: 1;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
}

.announcements {
    grid-column: 2;
    grid-row: 1;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
}

.announcements-bottom-right {
    grid-column: 2;
    grid-row: 2;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 4fr auto 4fr;
    gap: 10px;
}

.trending {
    grid-column: 1;
    grid-row: 2;
    margin-top: 20px;
}

.announcements-list {
    background-color: white;
    display: grid;
    grid-template-columns: 1fr;
    /* grid-template-rows: 1fr 2fr 1fr 2fr 1fr 2fr; */
    grid-template-rows: auto auto auto auto auto auto;
    /* padding: 10px; */
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 12px;
    margin-right: 100px;
    box-shadow: -1px 12px 9px -9px rgba(0,0,0,0.33);
}

.announcements-lead {
    align-self: flex-end;
    font-size: 16px;
    font-weight: bold;
}

.announcements-details {
    font-size: 14px;
    color: rgba(136, 135, 135, 0.616);
    padding-top: 4px;
}

#bottom-border {
    border-bottom: 2px solid rgba(136, 135, 135, 0.616);

}

.trending-list {
    background-color: white;
    padding: 5px;
    border-radius: 12px;
    margin-right: 100px;
    box-shadow: -1px 12px 9px -9px rgba(0,0,0,0.33);

    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: repeat(4, 1fr);
}

#icon {
    height: 30px;
    width: auto;
}

.icon1,
.icon2,
.icon3,
.icon4 {
    align-self: center;
    justify-self: end;
}

.name1,
.name2,
.name3,
.name4 {
    align-self: center;
    justify-self: center;
}

.username { 
    margin-bottom: 5px;
}


#details-gray {
    color: rgba(136, 135, 135, 0.616);
}

.icon1 {
    grid-column: 1;
    grid-row: 1;
}

.icon2 {
    grid-column: 1;
    grid-row: 2;
}

.icon3 {
    grid-column: 1;
    grid-row: 3;
}

.icon4 {
    grid-column: 1;
    grid-row: 4;
}

.username1 {
    grid-column: 2;
    grid-row: 1;
}

.username2 {
    grid-column: 2;
    grid-row: 2;
}

.username3 {
    grid-column: 2;
    grid-row: 3;
}

.username4 {
    grid-column: 2;
    grid-row: 4;
}

.cards {
    grid-column: 1;
    grid-row: 2;
    background-color: #d1fae5;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 15px;
    
}

.card-items {
    height: 200px;
    background-color: white;
    border-radius: 5px;
    border-left: 5px solid gold;
    padding: 15px;
    padding-top: 30px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 2fr 1fr;
    box-shadow: -1px 12px 9px -9px rgba(0,0,0,0.33);
}

.card-text {
    grid-column: 1;
    grid-row: 1;
    font-size: 16px;
    font-weight: bold;
}

.card-text-details {
    grid-column: 1;
    grid-row: 2;
    color: rgba(136, 135, 135, 0.616);
    margin-top: 10px;
}

.card-icons {
    grid-column: 1;
    grid-row: 3;
    display: flex;
    justify-content: flex-end;
}

.star, 
.eye, 
.vector {
    height: 20px;
    width: auto;
    padding: 15px;

}

.main-right-side {
    grid-column: 2;
    grid-row: 1 / 3;



}