/* styling for admin dashboard project */
* {
    margin: 0;
    padding: 0;
}

.container  {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 4fr;
    /* gap: 10px; */

}

.sidebar {
    background-color: #047857;
    /* border: 2px solid gray; */
    color: #ecfdf5;
    grid-column: 1;
    grid-row: 1 / 3;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 3fr 5fr;
}

.sidebar-icons {
    height: 30px;
    width: auto;
    fill: #ecfdf5;
}

.sidebar-dashboard-icon {
    height: 75px;
    width: auto;
    fill: #ecfdf5;
    
}

.dashboard {
    display: flex;
    justify-content: flex-start;
    align-content: center;
    gap: 10px;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
    margin-left: 15px;
}

.dashboard-text {
    align-content: center;
}

.sidebar-list-top,
.sidebar-list-bottom {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: flex-start;
    gap: 10px;
    flex-wrap: wrap;
    list-style-type: none;
    padding: 0;
    margin: 0;
    margin-left: 30px;
}

.sidebar-list-bottom {
    justify-content: flex-start;
    margin-top: 15px;
}

.sidebar-list-top li,
.sidebar-list-bottom li {
    display: flex; 
    align-items: center; 
    gap: 10px; 
    margin-right: 75px;
}

.header {
    background-color: white;
    /* border: 2px solid gray; */
    grid-column: 2 / 3;
    grid-row: 1;

    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 10px;
    place-items: center;
    justify-content: space-evenly;
}

.search-icon {
    height: 30px;
    width: auto;
    margin-left: 20px;
}

.notif-icon {
    height: 30px;
    width: auto;
}

.avatar {
    height: 30px;
    width: auto;
}

.avatar-left {
    height: 60px;
    width: auto;
}


.header-top-right {
    display: flex;
    gap: 50px;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.header-bottom-left {
    display: flex;
    gap: 10px;
    justify-content: flex-start;
    width: 100%;
    margin-left: 20px;
}

.header-bottom-right {
    display: flex;
    gap: 10px;
    width: 100%;
    justify-content: center;
}

.search-bar {
    grid-column: 1;
    grid-row: 1;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border-radius: 5px;
    padding: 5px;
    width: 100%; 
    gap: 10px;
    
}

.search-input {
    border: none;
    padding: 10px;
    flex: 1;
    border-radius: 10px;
    font-size: 12px;
    background-color: lightgray;
    margin-right: 20px;
}

.notif, .profile-pic, .name {
    grid-column: 2;
    grid-row: 1;

}

.greeting-logo, .greeting-words {
    grid-column: 1;
    grid-row: 2;
    justify-self: start;
}

.command-buttons {
    grid-column: 2;
    grid-row: 2;
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 20px;
}

button {
    background-color: #047857;
    font-size: 14px;
    padding: 10px 24px;
    border-radius: 10px;
    border: none;
    color: #ecfdf5;
}


.main {
    background-color: #d1fae5;
    grid-column: 2;
    grid-row: 2;

    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 10fr;
    gap: 10px;
    padding-left: 20px;
}

.projects {
    grid-column: 1;
    grid-row: 1;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
}

.announcements {
    grid-column: 2;
    grid-row: 1;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
}

.announcements-bottom-right {
    grid-column: 2;
    grid-row: 2;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 10px;
}

.cards {
    grid-column: 1;
    grid-row: 2;
    background-color: #d1fae5;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 15px;
}

.card-items {
    height: 200px;
    background-color: #ecfdf5;
    border-radius: 5px;
    border-left: 5px solid gold;
    padding: 15px;
    padding-top: 30px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 2fr 1fr;
}

.card-text {
    grid-column: 1;
    grid-row: 1;
    font-size: 16px;
    font-weight: bold;
}

.card-text-details {
    grid-column: 1;
    grid-row: 2;
    color: #6ee7b7;
    margin-top: 10px;
}

.card-icons {
    grid-column: 1;
    grid-row: 3;
    display: flex;
    justify-content: flex-end;
}

.star, 
.eye, 
.vector {
    height: 20px;
    width: auto;
    padding: 15px;

}

.main-right-side {
    grid-column: 2;
    grid-row: 1 / 3;



}